<a href="https://colab.research.google.com/github/maruftech/CSS_Grid/blob/master/Copy_of_PythonBasics29_06_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

Python is high proramming language -> close to english that is human understandable language

computer is goint to under it in form of 0/1 ->

Python is an object oriented programming language.

Python is interpreted language

Interpreter -> Line by line
Compiler-> All at once

Python is case sensitive language . APPLE,apple,Apple,aPple(all are different)

In [ ]:
print("Hello world") #Shift+enter to run

Hello world

**Today's Agenda** : Python installation,python basics,variables,datatypes

In [ ]:
print("HeLLO WORLD")
print("Hello Swastik")
print("Hello python")
Print("Hello Intellipaat")
print("Hello AI") #This will never execute.

HeLLO WORLD
Hello Swastik
Hello python

NameError: name 'Print' is not defined

In [ ]:
#Commnets in python
# 1.Single line comment, using #
# 2.Multiline comment, """ """
""" This is python
I am workng in python
I am having fun """
print("hello world")

hello world

In [ ]:
print("hello world")
print(30+20)
print(2*3)
print(60/10)
print('A')

hello world
50
6
6.0
A

Variable

Container that stores value

In [ ]:
x = 10
y = 20
print(x+y)

30

In [ ]:
x = 10
y = 20
z = x + y
print(z)

30

In [ ]:
#Rules of declaring variable
# Must start with a letter or _(underscore) (a,abc,swastik,aPPle,_abc,_aditya) ✅
# Can't start with a number (8abc,9a,8b)❌
# Case sensitive -> (a,A,abc,ABC) ✅
# Can't use any keyword -> t print = 5 ❌
# We cannot have space in between the letters, swastik mishra = 5❌
# We cannot use any type of special character other than _ (abc*, a#b, a@c,@sde)❌

In [ ]:
_ = 5
print(_)

5

In [ ]:
_8 = 5
print(_8)

5

In [ ]:
_Meena_kshi_ = 10
print(_Meena_kshi_)

10

In [ ]:
abc7 = 10
print(abc7)

10

**DataTypes**

1. Integer
2. Float
3. String
4. Boolean
5. Complex number

In [ ]:
#Integer -> any numeric value, wheter positive or negative
a = 50
print(type(a)) #type() is goint to tell about datatype of variable
b = -100
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
#Float -> numeric value with decimal
b = 50.0
c = 43425.57920
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>

In [ ]:
#string -> string stores characters , words and sentences as well
a = 'A'
b = '@'
c = "Python"
d = "This is python class. Swastik is teaching in this lecture"
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
a = '50'
b = "50.0"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [ ]:
#Boolean : True and False
var1 = True
var2 = False
print(type(var1))
print(type(var2))

<class 'bool'>
<class 'bool'>

In [ ]:
var3 = "true"
print(type(var3))
var4 = false
print(type(var4))

<class 'str'>

NameError: name 'false' is not defined

In [ ]:
#Complex Number : used to store imaginery number:
x = 10 + 20j #j is a reserved keyword
z = 10 + 20j
y = 10 - 20j
print(type(x))
print(type(y))

<class 'complex'>
<class 'complex'>

In [ ]:
z = 10j + 20
print(type(z))
print(z)

<class 'complex'>
(20+10j)

User Input

In [ ]:
name = "Swastik"
age = 19
print(name,age)

Swastik 19

In [ ]:
name = input("Enter name: ")
age = input("Enter age: ")
print(name,age)
print(type(age))

Enter name: swastik
Enter age: 4
swastik 4
<class 'str'>

In [ ]:
name = str(input("Enter name: "))
age = int(input("EnTER AGE: "))
print(type(name))
print(type(age))

Enter name: Swastik
EnTER AGE: 12
<class 'str'>
<class 'int'>

Operators

In [ ]:
a = 50
b = 60
print(a+b)

110

In [ ]:
#Arithmetic Operator
a = 65
b = 6
print("a+b = ", a+b) #addition operator
print("a-b = ",a-b) #subtraction operator
print("a*b = ",a*b) #multiplication operator
print("a/b = ",a/b) #division operator alwways with float value
print("a//b = ",a//b) # floor division -> INTEGER(QUOTIENT)
print("a%b = ",a%b) #Modulous operator -> Integer (remainder)
print("a**b = ",a**b) #calculate a operator b

a+b =  71
a-b =  59
a*b =  390
a/b =  10.833333333333334
a//b =  10
a%b =  5
a**b =  75418890625

In [ ]:
#True and False , True = 1, False = 0
print(True + False) # 1 + 0 = 1
print(True+True) # 1 + 1 = 2
print(True - False) # 1 - 0 = 1
print(True * False) # 1 * 0 = 0
#print(True/False) # 1/0 Zero division error

1
2
1
0

Comparison Operator

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("num1 > num2 :",num1 > num2) #Greater than
print("num1 < num2:",num1 < num2) #Less than
print("num1 == num2:",num1 == num2) #equal to
print("num1 != num2:",num1 != num2) #Not equal to
print("num1 >= num2:",num1 >= num2) #Greater than or equal to
print("num1 <= num2:",num1 <= num2) #Less than or equal to

Enter first number: 23
Enter second number: 29
num1 > num2 : False
num1 < num2: True
num1 == num2: False
num1 != num2: True
num1 >= num2: False
num1 <= num2: True

LOGICAL OPERATOR

In [ ]:
#and
#or
#not
# A  B   A and B      A or B
# T  T      T           T
# T  F      F           T
# F  T      F           T
# F  F      F           F
#not
# A     not A
# T      F
# F      T

In [ ]:
print(True and False)
print(True and True)
print(True or False)
print(not True)

False
True
True
False

# Assignment Operator

In [ ]:
a = 30
# a is assigned with 30
print(a)

30

In [ ]:
#a = a + 40
a += 40
print(a)

70

In [ ]:
a -= 10
print(a)

60

In [ ]:
a *= 2
print(a)

120

In [ ]:
a /= 3
print(a)

40.0

Indentation

In [ ]:
print("Hello wolrd")
print("Hello")
  print("Swastik")

IndentationError: unexpected indent (ipython-input-63-2161733028.py, line 3)

In [ ]:
#Condtional statement
a = int(input("enter first value: "))
b = int(input("enter second value: "))
if a > b:
  print("a is greater than b")
elif a < b:
  print("b is greater than a")
else:
  print("a is equal to b")

enter first value: 43
enter second value: 23
a is greater than b

In [ ]:
# we want to check for even or odd number using conditional statement
# n  %  2 == 0  -> even
# n  %  2  !=0 -> odd #10:21
n = int ( input ("enter value : "))
if n % 2 == 0:
    print ("given no. is even: ")
else:
    print ("given no. is odd: ")

enter value : 10
given no. is even:

In [ ]:
#We can not right elif and else without it
if n>0:
  print("positive")
# We can have if without else and elif.

positive

In [ ]:
# Write a programe to check whether a person is eligible to get driving licence or not
# input        output
# 14           not eligible
# 16           learning
# 18            eligible
# p < 16  -> not eligible
# p  >= 16 and p<18 -> learning
# p >= 18 -> eligible

LOOPS

A loop is a control statement that allow a block of code to be executed repeatedly

1. while loop
2. For loop

While loop : Works on condition that allow a block of code to run till the condition is true.

In [ ]:
# print number from 1---100
n = 1
while n<= 100:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
n = 0
while n<=10:
  print("Hello to class ",n)
  n+=3
print("Loop over")

Hello to class  0
Hello to class  3
Hello to class  6
Hello to class  9
Loop over

For Loops

In [ ]:
n = 150
while n>=1:
  print (n,end="_")
  n -= 1

150_149_148_147_146_145_144_143_142_141_140_139_138_137_136_135_134_133_132_131_130_129_128_127_126_125_124_123_122_121_120_119_118_117_116_115_114_113_112_111_110_109_108_107_106_105_104_103_102_101_100_99_98_97_96_95_94_93_92_91_90_89_88_87_86_85_84_83_82_81_80_79_78_77_76_75_74_73_72_71_70_69_68_67_66_65_64_63_62_61_60_59_58_57_56_55_54_53_52_51_50_49_48_47_46_45_44_43_42_41_40_39_38_37_36_35_34_33_32_31_30_29_28_27_26_25_24_23_22_21_20_19_18_17_16_15_14_13_12_11_10_9_8_7_6_5_4_3_2_1_

In [ ]:
n = 1
while n<=150:
  print(n,end="_")
  n+=1

1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22_23_24_25_26_27_28_29_30_31_32_33_34_35_36_37_38_39_40_41_42_43_44_45_46_47_48_49_50_51_52_53_54_55_56_57_58_59_60_61_62_63_64_65_66_67_68_69_70_71_72_73_74_75_76_77_78_79_80_81_82_83_84_85_86_87_88_89_90_91_92_93_94_95_96_97_98_99_100_101_102_103_104_105_106_107_108_109_110_111_112_113_114_115_116_117_118_119_120_121_122_123_124_125_126_127_128_129_130_131_132_133_134_135_136_137_138_139_140_141_142_143_144_145_146_147_148_149_150_

In [ ]:
# for -> range of loop
# range() -> resposible for the length of loop -
# range(n) -> 0 - n-1 ->  stepsize = 1
# range(2,n) -> 2 - n-1 -> stepsize = 1
# range(3,n,k) -> 3 - n-1 with k
for nimesh in range(10):
  print(nimesh)
print("Loop Over")
for i in range(12,20):
  print(i)
print("Loop over")
for i in range(3,15,3):
  print(i)

0
1
2
3
4
5
6
7
8
9
Loop Over
12
13
14
15
16
17
18
19
Loop over
3
6
9
12

In [ ]:
# find sum of all numbers from 2 - 11
sum = 0
for i in range(2,11):
  sum += i
print(sum)

65

In [ ]:
#Print product of number between 3 - 8
prod = 1
for j in range(3,9):
  prod *= j
print(prod)

20160

In [ ]:
for i in range(10,1,1):
  print(i)

In [ ]:
# 1---10 -> +ve
# 10---1 -> -ve

Break and continue

In [ ]:
# I want to print from 1 - 10 and i want to skip 4 and 6
for i in range(1,11):
  if i==4 or i==6:
    continue
  print(i)

1
2
3
5
7
8
9
10

In [ ]:
# Print from 1-10 and stop the loop at 5
for i in range(1,11):
  print(i)
  if i==5:
    break

1
2
3
4
5

In [ ]:
#Write a code to check for prime number #9:09
n = int(input("Enter no. : "))
if n<=1:
  print("Not prime")
for i in range(2,n):
  if n%i==0:
    print("Not Prime number")
    break
else:
  print("Prime number")

Enter no. : 12
Not Prime number

Sequential Datatypes

1.List

2.Tuple

3.String

1.List

Collection of elements that store value in a sequential Order

They are Mutable

They contains duplicates

They can have multiple datatypes.

In [ ]:
a = [1,2,3,4,5,6]
print(a)
print(type(a))
print(a[2])
a[2] = 100 #Mutable
print(a)

[1, 2, 3, 4, 5, 6]
<class 'list'>
3
[1, 2, 100, 4, 5, 6]

![image.png]()

In [ ]:
#Indexing
sport = ["Football","Badminton","Cricket","Hockey","BasketBall","Tennis","Kabaddy"]
print(sport[0])
print(sport[4])
print(sport[6])
# print(sport[7]) index out of range error
print(sport[-1])
print(sport[-6])
print(sport[-7])

Football
BasketBall
Kabaddy
Kabaddy
Badminton
Football

In [ ]:
n = len(sport)
print(n)
print(sport[n-3])

7
BasketBall

Slicing

In [ ]:
sport = ["Football","Badminton","Cricket","Hockey","BasketBall","Tennis","Kabaddy"]
# Football -- Hockey
# sport[startindex : endindex] - > start - end-1
print(sport[0:4])

['Football', 'Badminton', 'Cricket', 'Hockey']

In [ ]:
#If we leave startendex and only pass end index
print(sport[:5]) # start from 0 and go till 4

['Football', 'Badminton', 'Cricket', 'Hockey', 'BasketBall']

In [ ]:
#What if we leave end index
print(sport[1:])

['Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy']

In [ ]:
print(sport[0:])

['Football', 'Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy']

In [ ]:
#IF we do not pass both
print(sport[:])

['Football', 'Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy']

In [ ]:
print(sport[0:7:2]) # startindex : endindex : stepsize

['Football', 'Cricket', 'BasketBall', 'Kabaddy']

In [ ]:
print(sport)

['Football', 'Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy']

In [ ]:
print(sport[2::3])

['Cricket', 'Tennis']

In [ ]:
print(sport[-1:])

['Kabaddy']

In [ ]:
print(sport[-6:])

['Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy']

In [ ]:
print(sport[-2::-1])

['Tennis', 'BasketBall', 'Hockey', 'Cricket', 'Badminton', 'Football']

In [ ]:
print(sport[::-1])

['Kabaddy', 'Tennis', 'BasketBall', 'Hockey', 'Cricket', 'Badminton', 'Football']

In [ ]:
print(sport)

['Football', 'Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy']

In [ ]:
revsport = sport[::-1] #used for reversing the list
print(revsport)

['Kabaddy', 'Tennis', 'BasketBall', 'Hockey', 'Cricket', 'Badminton', 'Football']

In [ ]:
#Adding value in list
#append function
sport.append("Baseball")
print(sport)

['Football', 'Badminton', 'Cricket', 'Hockey', 'BasketBall', 'Tennis', 'Kabaddy', 'Baseball']

In [ ]:
#Loopin in list
for i in sport:
  print(i,end=" ")

Football Badminton Cricket Hockey BasketBall Tennis Kabaddy Baseball

In [ ]:
for i in range(0,len(sport)):
  print(sport[i],end=" ")

Football Badminton Cricket Hockey BasketBall Tennis Kabaddy Baseball

In [ ]:
# create a list and take input from user of size 5
lst = []
for i in range(0,5):
  x = int(input("enter element "))
  lst.append(x)
print(lst)

enter element 1
enter element 2
enter element 3
enter element 4
enter element 5
[1, 2, 3, 4, 5]

Tuple

Allmost same as list but they are immutable

In [ ]:
tup = (1,2,3,4,5,6)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
print(tup[4])

5

In [ ]:
#Perform indexing and slicing on tuple

In [ ]:
tup[3] = 100 #immatable we cannot change value

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup.append(3)

AttributeError: 'tuple' object has no attribute 'append'

String

In [ ]:
s = "We are Studying Python"
print(s[4])

r

In [ ]:
s1 = "Hello"
print(s1[3])

l

In [ ]:
#Perform indexing and slicing on String

#Dictionary

In [ ]:
#Dictionary is used to store the data in key - value pair
#Syntax:

# di_name = {key_name : value, key_name : value}
# Sehvag : 70
# Sachin : 75
# Ganguli : 67
# Dhoni : 78
# Virat : 80
# Gambhir : 97
# Gill : 87

In [ ]:
player = {
    "Sehwag" : 70,
    "Sachin" : 75,
    "Ganguli" : 67,
    "Dhoni" : 78,
    "Virat" : 80,
    "Gambhir" : 97,
    "Gill" : 87
 }
print(player)

{'Sehwag': 70, 'Sachin': 75, 'Ganguli': 67, 'Dhoni': 78, 'Virat': 80, 'Gambhir': 97, 'Gill': 87}

In [ ]:
#Accessing
print(player["Sehwag"])
print(player["Gambhir"])

70
97

In [ ]:
player["Sachin"] = 100
print(player)

{'Sehwag': 70, 'Sachin': 100, 'Ganguli': 67, 'Dhoni': 78, 'Virat': 80, 'Gambhir': 97, 'Gill': 87}

In [ ]:
player["Yuvraj"] = 58

In [ ]:
print(player)

{'Sehwag': 70, 'Sachin': 100, 'Ganguli': 67, 'Dhoni': 78, 'Virat': 80, 'Gambhir': 97, 'Gill': 87, 'Yuvraj': 58}

In [ ]:
player["Raina"] = 85
print(player["Raina"])

85

In [ ]:
#Dictionary methods:
#dict.keys()
print(player.keys())
print(player.values())
print(player.items())

dict_keys(['Sehwag', 'Sachin', 'Ganguli', 'Dhoni', 'Virat', 'Gambhir', 'Gill', 'Yuvraj', 'Raina'])
dict_values([70, 100, 67, 78, 80, 97, 87, 58, 85])
dict_items([('Sehwag', 70), ('Sachin', 100), ('Ganguli', 67), ('Dhoni', 78), ('Virat', 80), ('Gambhir', 97), ('Gill', 87), ('Yuvraj', 58), ('Raina', 85)])

In [ ]:
for key,value in player.items():
  print(key," ",value)

Sehwag   70
Sachin   100
Ganguli   67
Dhoni   78
Virat   80
Gambhir   97
Gill   87
Yuvraj   58
Raina   85

In [ ]:
del player['Gambhir']
print(player)

{'Sehwag': 70, 'Sachin': 100, 'Ganguli': 67, 'Dhoni': 78, 'Virat': 80, 'Gill': 87, 'Yuvraj': 58}

#Functions

In [ ]:
# Inbuild function:
# append() -> adding elements
# keys()-> dict
# items - >dict

In [ ]:
#user defined function
num1 = 14
num2 = 15
print(num1+num2)

29

In [ ]:
def add(num1,num2):
  print(num1+num2)

add(3,4)
add(4,5)
add(15,17)
add(13433232,133534)

7
9
32
13566766

In [ ]:
#return type and not return type
def fun(a,b):
  return a+b
def fun2(a,b):
  print(a+b)
print(fun(3,4))
print(fun2(4,5))

7
9
None

In [ ]:
def greet(name):
  print("Hello, my name is ",name)
greet("Deeptha")
greet("madhuri")
greet("Meenakshi")
greet("Aditya")
greet("himanshu")
greet("Shafeeq")
greet("Agnes")
name = "Nimesh"
greet(name)
greet(1)

Hello, my name is  Deeptha
Hello, my name is  madhuri
Hello, my name is  Meenakshi
Hello, my name is  Aditya
Hello, my name is  himanshu
Hello, my name is  Shafeeq
Hello, my name is  Agnes
Hello, my name is  Nimesh
Hello, my name is  1

In [ ]:
newfun1("Swastik")
newfun1("Madhuri")
def newfun1(name):
  print("Hello, my name is ",name)

NameError: name 'newfun1' is not defined

In [ ]:
# table of 7 - 7 14 21 28 35 42 49 56 63 70
# create a function that takes n as parameter and print the table of n
def table(n):
    for i in range(1, 11):
        print(n, "x", i, "=", n * i)

table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

#HANDSON

CREATE FUNCTION WITH 3 NUMBERS AND TELL WHICH ONE IS GREATER

In [ ]:
def greater(a,b,c):
  if a>=b and a>=c:
    print(a," is greatest")
  elif b>=a and b>=c:
    print(b," is greatest")
  else:
    print(c," is greatest")
greater(10,100,100)

100  is greatest

Create a calculator program for addition, subtraction, multiplication and floor division.

Take the inputs from the user, and based on the choice of operation, return the results.

In [ ]:
def calculater():
  a = int(input("Enter num1: "))
  b = int(input("Enter num2: "))
  choice = int(input("Enter choice 1,2,3,4: "))
  #1-add,2-sub,3-mul,4-floordev
  if choice==1:
    return a+b
  elif choice==2:
    return a-b
  elif choice==3:
    return a*b
  elif choice==4:
    if b!=0:
      return a//b
    else:
      print("Zero devision error")
print(calculater())

Enter num1: 24
Enter num2: 0
Enter choice 1,2,3,4: 4
Zero devision error
None

Create a list of the first 50 natural numbers, and perform the following operations.

Count the even numbers from list

return sum of list

reverse the list

In [ ]:
li = []
for i in range(1,51):
  li.append(i)
print(li)
#even count
even = 0
for i in li:
  if i%2==0:
    even += 1
print(even)
# print the sum with the help of inbuild sum function
def sum(li):
  S = 0
  for i in li:
    S += i
  return S
print(sum(li))
#reverse

revli = li[::-1]
print(revli)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
25
1275
[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

For the given strings A = “Python Programming Language”, B = “Best in the World” , perform
the following operations.

l. Using indexing operations, get the text “gram” from the string A.

m. Using indexing operations, get the text “World” from the string B.

n. Change the letters in both strings to Uppercase letters.

o. Concatenate the two strings.

In [ ]:
A = "Python Programming Language"
B = "Best in the World"
print(A[10:14])
print(B[12:18])
print(A.upper())
print(B.upper())
print(A+" "+B)

gram
World
PYTHON PROGRAMMING LANGUAGE
BEST IN THE WORLD
Python Programming Language Best in the World


Reverse a String
Write a function that takes a string and returns it reversed.

Check Palindrome
Check if a string is a palindrome (reads the same forwards and backwards).

Fibonacci Sequence
Generate the first n numbers in the Fibonacci sequence.

Factorial Calculation
Write a recursive and iterative version to calculate factorial of a number.

Count Vowels in a String
Return the number of vowels in a string.

Find Maximum and Minimum in a List
Without using built-in functions.

#Object Oriented Programming

1. Deals with Real world entities
2. Classes object

Class : it is blueprint of Object

Object: Real world Entity

In [ ]:
#class - Animal
#object - Dog,cat,cow,lion,pig
class Animal:
  pass
#Class - Dog
#Object - german,pug,pitbull,labrador,golden
class Dog:
  pass
#We cannot leave class empty
#If we do not want to write inside class, just write  pass

In [ ]:
#class - Animal
#object - Dog,cat,cow,lion,pig
#Atrributes(Properties) : color, size, wild/domestic, carni/herbo
#Methods(functions) : run,eat,sound

In [ ]:
#class - Car
#object - Mercedez,BMW,Thar,audi,rolls,SUV
#attributes - color,model,mileage,engine,price
#Methods - Speed, break,accelator

In [ ]:
#class Phone
#object - realme,samsung,iphone,nothing,oppo,vivo
#attributes - color,mahbatery,model,ram,pixel,storage,processor,ds
#Methods - call,switchoff,videocall,gaming,texting

In [ ]:
class Car:
  def display(self):
    print("This is my car")
c1 = Car() #Object(Instances)
c1.display()

This is my car

__init__() -> Construnctor

self -> reference of object

In [ ]:
class Car:
  def __init__(self,name,color,model,price):
    self.name = name
    self.color = color
    self.model = model
    self.price = price
  def display(self):
    print("My car is ",self.name," of ",self.color," color ")
    print("It's of ",self.model," model of price: ",self.price)


Mee = Car("Thar","Black",2025,10000)
Arn = Car("Fortuner","White",2024,15000)
Mee.display()
Arn.display()

My car is  Thar  of  Black  color
It's of  2025  model of price:  10000
My car is  Fortuner  of  White  color
It's of  2024  model of price:  15000

In [ ]:
class car:
  def __init__(self,name):
    self.name = name
  def display(self):
    print(self.name)
c3 = car("Nimesh")
c3.display()

Nimesh

In [ ]:
class greet:
  def __init__(self):
    print("Hello")
Greet = greet()

Hello

In [ ]:
#Create a class Dog with 3 attributes and a display method displaying all the attributes.
class Dog:
  def __init__(self,name,color,age):
    self.name = name
    self.color = color
    self.age = age
  def display(self):
    print(self.name,self.color,self.age)

d1 = Dog("Pitbull","brown",2)
d1.display()

Pitbull brown 2

In [ ]:
#Accessing the attributes
class abc:
  def __init__(self,name):
    self.name = name
trainer = abc("Swastik")
print(trainer.name)

Swastik

In [ ]:
#Accessing the attributes
class abc:
  def __init__(self):
    self.name = "Madhuri"
trainer = abc()
print(trainer.name)

Madhuri

In [ ]:
#Accessing the attributes
class abc:
  def __init__(self,n):
    self.name = "Madhuri"
trainer = abc("Swastik")
trainer.name = "Arnab"
print(trainer.name)

Arnab

#4 pillars of OOPS

1. Encapsulation
2. Inheritance
3. Polymorphism
4. Abstraction

Encapsulation : Binding the data (Attributes) and methods within a single unit

Data hiding -> Only gives access to required owners

In [ ]:
#Access Specifiers
# 1. Public - can be accessed outside the class
# 2. Private - It cannot be accessed outside the class
# 3. Protected - It can be accessed inside class and it's subclasses
# _varname -> protected
# __varname -> private

In [ ]:
class student:
  def __init__(self):
    self.name = "Swastik"
    self.__score = 5
st = student()
print(st.name)
print(st.__score)

Swastik

AttributeError: 'student' object has no attribute '__score'

In [ ]:
#Getter Function
class person:
  def __init__(self,name,job):
    self.name = name
    self.__job = job
  def getter(self):
    print("My job is",self.__job)

ob = person("Swastik","Data Scientist")
print(ob.name)
ob.getter()

Swastik
My job is Data Scientist

In [ ]:
#Setter
#Getter Function
class person:
  def __init__(self,name,job):
    self.name = name
    self.__job = job
  def getter(self):
    print("My job is",self.__job)
  def setter(self,newjob):
    self.__job = newjob

ob = person("Swastik","Data Scientist")
print(ob.name)
ob.getter()
ob.setter("Software Developer")
ob.getter()

Swastik
My job is Data Scientist
My job is Software Developer

In [ ]:
# Create A class Bank account with name,bankbalance,account number as attributes
#acccounter number and bank balance are private
#create display method to diplay bank details
# Create two methods deposit and withdraw with certain amount
# start bank balance with 5000.

In [ ]:
# clas -> bank account
# 3 -> bankbalance and account no are private

class BankAccount:
  def __init__(self,name,bankbalance,accountno):
    self.name = name
    self.__balance = bankbalance
    self.__number = accountno
  def display(self):
    print("MY name is ",self.name," account no : ",self.__number," With balance ",self.__balance)
  def deposit(self,amount):
    self.__balance += amount
    print(amount," has been deposited successsfully")
  def withdraw(self,amount):
    if amount > self.__balance:
      print("Insufficient balance")
    else:
      self.__balance -= amount
      print(amount,"Withdrawn successfully")
  def checkbalance(self):
    print(self.__balance)

swastik = BankAccount("Swastik",5000,"12134")
swastik.display()
swastik.checkbalance()
swastik.deposit(2000)
swastik.checkbalance()
swastik.withdraw(10000)
swastik.checkbalance()
swastik.withdraw(5000)
swastik.checkbalance()

MY name is  Swastik  account no :  12134  With balance  5000
5000
2000  has been deposited successsfully
7000
Insufficient balance
7000
5000 Withdrawn successfully
2000

Inheritance -- Where a claass is going to inherit the properties and methods of other class:

Parent class - The class whose property is going to be inherit

Child class - The class that inherits properties of parent

Types of Inheritance

1. Single Inheritance : Single parent and single child

2. Multiple inheritance : multiple parent and single child

3. Multilevel inheritance : grand father -> father -> child

4. Heriarichal inheritance - single parent and multiple child

5. Hybrid - Multiple types of inheritance in a single code.

In [ ]:
class Animal:
  def sound(self):
    print("Animal sound")

class Dog(Animal):
  pass

dog = Dog()
dog.sound()

Animal sound

In [ ]:
class Employee:
  def __init__(self,name,empid):
    self.name = name
    self.empid = empid
  def display(self):
    print("My name is ",self.name," emp id : ",self.empid)

class techemployee(Employee):
  def __init__(self,name,empid,team):
    # super().__init__(name,empid)
    Employee.__init__(self,name,empid)
    self.team = team
  def display(self):
    print(self.name,self.empid,self.team)

ob = techemployee("Swastik",8607,"AI/ML")
ob.display()

Swastik 8607 AI/ML

In [ ]:
#Multiple inheritance
class mother:
  def __init__(self,mname):
    self.mname = mname
class father:
  def __init__(self,fname):
    self.fname = fname

class child(mother,father):
  def __init__(self,mname,fname,cname):
    mother.__init__(self,mname)
    father.__init__(self,fname)
    self.cname = cname
  def display(self):
    print(self.mname,self.fname,self.cname)

ob = child("lily","James","Harry")
ob.display()

lily James Harry

 Multilevel Inheritance(p1->p2->p3)

Question: Create class Vehicle. Inherit it into Car, and then ElectricCar. Add one method in each and show how child class can access all methods.

In [ ]:
class Vehicle:
  def displayVeh(self):
    print("This is my vehicle")
class Car(Vehicle):
  def displayCar(self):
    print("This is my car")
class Electriccar(Car):
  def displayele(self):
    print("This is my electric car")

ob = Electriccar()
ob.displayele()
ob.displayCar()
ob.displayVeh()

This is my electric car
This is my car
This is my vehicle

In [ ]:
class vehicle:
    def __init__(self,color):
        self.color =  color

class car(Vehicle):
    def __init__(self,color,battery_use):
        vehicle.__init__(self,color)
        self.battery_use = battery_use
class electric_vehicle(car) :
    def __init__(self, color,battery_use,fuel_type):
        car.__init__(self,color,battery_use)
        self.Fuel_type = fuel_type
    def display(self):
      print(self.color,self.Fuel_type)

E1 = electric_vehicle("Red","F1","Hybrid")
E1.display()

Red Hybrid

In [ ]:
class Vechile:
    def supclass(self):
        print("I am vechile class")
class car(Vechile):
    def carmethod(self):
        print("I am car class")
class eleccar(car):
    def eleccar(self):
        print("I am elec car class")
obj=eleccar()
obj.eleccar()
obj.carmethod()
obj.supclass()

I am elec car class
I am car class
I am vechile class

:
Create a base class Animal with method speak(). Inherit it in Dog and Cat classes and override the speak() method in each.

In [ ]:
class Animal:
  def speak(self):
    print("Animal speak")
class Dog(Animal):
  def speak(self):
    print("Dog speak")
class Cat(Animal):
  def speak(self):
    print("Cat speak")

ob1 = Dog()
ob1.speak()
ob2 = Cat()
ob2.speak()

Dog speak
Cat speak

Polimorpism --> Many forms

different objects Use same method name but behave different

Same method name

Differnt behaviour based on object

In [ ]:
class Dog:
  def speak(self):
    print("Bark")

class Cat:
  def speak(self):
    print("Meow")

def makesound(object):
  object.speak()

ob1 = Dog()
ob2 = Cat()
makesound(ob1)
makesound(ob2)

Bark
Meow

In [ ]:
class Animal:
  def speak(self):
    print("Animal speak")
class Dog(Animal):
  def speak(self):
    print("Dog speak")
class Cat(Animal):
  def speak(self):
    print("Cat speak")

ob = Animal()
ob.speak()
ob1 = Dog()
ob1.speak()
ob2 = Cat()
ob2.speak()

Animal speak
Dog speak
Cat speak

In [ ]:
#Overloading and Overriding
def sum(a,b):
  return a+b
def sum(a,b,c):
  return a+b+c
#print(sum(3,4)) - > this is not allowed
# Python does not suppoert overloading
def sum(a,b,c,d):
  return a+b+c+d
print(sum(3,4,5,6))

18

In [ ]:
#overriding
def greet():
  print("Hello world")
def greet():
  print("World is beutiful")
greet()

World is beutiful

Abstraction

-Hides useless info

-Shows only useful once

In [ ]:
from abc import ABC, abstractmethod
#abc - Abstract base classes
# ABC - base class provided by abc
class Vehicle(ABC): #abstract class
  @abstractmethod
  def start(self):
    pass
  @abstractmethod
  def stop(self):
    pass
  def display(self):
    print("Hello")

In [ ]:
#Concrete class1 - Child of Abstact class
#Must implement the abstract method
class car(Vehicle):
  def start(self):
    print("Car started")
  def stop(self):
    print("Car stoped")
ob = car()
ob.start()
class Bike(Vehicle):
  def start(self):
    print("Bike started")
  def stop(self):
    print("Bike stoped")

Car started

Design a ride booking system with an abstract class Ride having an abstract method calculate_fare(). Create two concrete classes BikeRide and CarRide implementing this method differently. Use Python's abc module

In [ ]:
from abc import ABC, abstractmethod
class RideBooking(ABC):
  @abstractmethod
  def calculate_fair(self,distance):
    pass

class BikeRide(RideBooking):
  def calculate_fair(self,distance):
    print("Calculated Fair is: ",distance*10)

class CarRide(RideBooking):
  def calculate_fair(self, distance):
    print("Calculated fair: ",distance*20)

ob1 = BikeRide()
ob2 = CarRide()
n = int(input())
ob1.calculate_fair(n)
ob2.calculate_fair(n)

50
Calculated Fair is:  500
Calculated fair:  1000

You're creating a library management system. LibraryMember has name and member ID. A PremiumMember can borrow up to 5 books. Track how many books they borrowed and stop them if they reach the limit.

Story:
You are developing a food delivery app. A Customer can place an order, Location gives delivery address, and OrderDetails inherits both.

In [ ]:
from abc import ABC , abstractmethod

class riding_calculator(ABC) :
    @abstractmethod
    def calculate_fare(self,distance):
        self.distance = distance
        pass
class bike(riding_calculator) :
    def calculate_fare(self,distance) :
        total_fare = distance * 10
        return total_fare
class Car(riding_calculator) :
    def calculate_fare(self,distance) :
        total_fare = distance * 20
        return total_fare

distance = int(input())
car_fare = Car()
bike_fare = bike()

print(car_fare.calculate_fare(distance))
print(bike_fare.calculate_fare(distance))

50
1000
500